/* style.css */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}

/* Fade-in classes */
.fade-in {
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
#spinner {
  text-align: center;
}
